// dark grey colors
$color-grey-dark-1: #212529;
$color-grey-dark-2: #343a40;
$color-grey-dark-3: #495057;
$color-grey-dark-4: #868e96;
$color-grey-dark-5: #adb5bd;

// light grey colors
$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #f1f3f5;
$color-grey-light-3: #e9ecef;
$color-grey-light-4: #dee2e6;
$color-grey-light-5: #ced4da;

$footer-color: #231f20;