// dark grey colors
$color-grey-dark-1: #212529;
$color-grey-dark-2: #343a40;
$color-grey-dark-3: #495057;
$color-grey-dark-4: #868e96;
$color-grey-dark-5: #adb5bd;

// light grey colors
$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #f1f3f5;
$color-grey-light-3: #e9ecef;
$color-grey-light-4: #dee2e6;
$color-grey-light-5: #ced4da;

$footer-color: #231f20;

$color-primary: #228be6;
$color-secondary: #91a7ff;
 

$bp-largest: 75em;  //1200px
$bp-large: 62.5em;  //1000px
$bp-medium: 50em;   //800px
$bp-small: 37.5em;