


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    
}
@media only screen and (max-width: 800px){
     html{
        font-size: 50%;
     }
}
/* @media only screen and (max-width: 400px){
     html,body{
        width: 100vw;
        overflow-x: hidden;
     }
} */

body{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: .05rem;
    /* height: 100%; */
    /* overflow: hidden; */
    

}

@media only screen and (max-width: 800px){
    html,body{
        overflow-x: hidden;
        /* width: 100vw; */
    }
}

/* .wholecontainer{
    width: 100vw;
    overflow-x: hidden;
} */
/* .insidecontainer{
    
} */